body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: #f4f8fb;
}

header {
  background-color: #0077b6;
  color: white;
  padding: 20px;
  text-align: center;
}

nav {
  background-color: #023e8a;
  padding: 10px;
  text-align: center;
}

nav a {
  color: white;
  margin: 10px;
  text-decoration: none;
  font-weight: bold;
}

section {
  padding: 20px;
  margin: 10px;
  background-color: white;
  border-radius: 10px;
}

h2 {
  color: #0077b6;
}

input {
  padding: 8px;
  margin: 5px;
  width: 250px;
}

button {
  padding: 10px;
  background-color: #0077b6;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #023e8a;
}

footer {
  background-color: #023e8a;
  color: white;
  text-align: center;
  padding: 15px;
  margin-top: 20px;
}

.oculto {
  display: none;
}

.imagen-principal {
  width: 800px;
  height: 400px;
  object-fit: cover;
  display: block;
  margin: 20px auto;
  border-radius: 10px;
}

.imagen-servicios {
  width: 800px;
  height: 400px;
  object-fit: cover;
  display: block;
  margin: 20px auto;
  border-radius: 10px;
}

.imagen-contacto {
  width: 800px;
  height: 400px;
  object-fit: cover;
  display: block;
  margin: 20px auto;
  border-radius: 10px;
}
